apiVersion: v1
baseDomain: {{ dns_zone }}
metadata:
  name: {{ cluster_name }}
networking:
  machineNetwork:
  - cidr: {{ chucky_net_addr }}
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: {{ number_of_workers }}
controlPlane:
  name: master
  replicas: 3
  platform:
        baremetal: {}
platform:
  baremetal:
    apiVIP: {{ api_vip }}
    ingressVIP: {{ ingress_vip }}
    provisioningDHCPRange: {{ provisioning_dhcp_start }},{{ provisioning_dhcp_end }}
    provisioningBridge: provision
    externalBridge: chucky
    provisioningNetworkCIDR: {{ provision_net_addr }}
    hosts:
{% for item in master_names  %}
      - name: {{ item }}
        role: master
        bmc:
          address: ipmi://{{ chucky_gateway }}:700{{ loop.index0 }}
          disableCertificateVerification: True
          username: {{ managed_user }}
          password: {{ hostvars[baremetal_public_ip]['managed_password'] }}
        bootMACAddress: {{ master_provision_mac_base }}{{ loop.index0 }}
        hardwareProfile: libvirt
        networkConfig:
          interfaces:
          - name: bond0
            type: bond
            state: up
            ipv4:
              dhcp: true
              enabled: true
            ipv6:
              enabled: false
            link-aggregation:
              mode: active-backup
              options:
                miimon: '140'
              port:
              - ens4
              - ens5
{% endfor %}
{% for item in worker_names %}
      - name: {{ item }}
        role: worker
        bmc:
          address: ipmi://{{ chucky_gateway }}:{{ 7000 + loop.index0 +3 }}
          disableCertificateVerification: True
          username: {{ managed_user }}
          password: {{ hostvars[baremetal_public_ip]['managed_password'] }}
        bootMACAddress: {{ worker_provision_mac_base }}{{ '%x' % loop.index0 }}
        hardwareProfile: libvirt
        networkConfig:
          interfaces:
          - name: bond0
            type: bond
            state: up
            ipv4:
              dhcp: true
              enabled: true
            ipv6:
              enabled: false
            link-aggregation:
              mode: active-backup
              options:
                miimon: '140'
              port:
              - ens4
              - ens5
{% endfor %}
pullSecret: '{{ lookup('file', 'pull-secret') }}'
sshKey: |
  {{ lookup('file', '../Terraform/'+ssh_certificate) }}
