option domain-name "{{ dns_zone }}";
default-lease-time 86400;
max-lease-time 86400;
log-facility local7;

subnet {{ chucky_short_net }}.0 netmask 255.255.255.0 {
  range {{ chucky_short_net }}.80  {{ chucky_short_net }}.100;
  option domain-name-servers {{ chucky_short_net }}.3;
  option domain-name "{{ dns_zone }}";
  option domain-search "{{ dns_zone }}";
  option routers {{ chucky_short_net }}.1;
  option subnet-mask 255.255.255.0;
}

{% for item in master_names  %}
host master{{ loop.index0 }} {
  hardware ethernet {{ master_chucky_mac_base }}{{ loop.index0 }};
  fixed-address {{ chucky_short_net }}.2{{ loop.index0 }};
  option host-name "master{{ loop.index0 }}.{{ cluster_name }}.{{ dns_zone }}";
}
{% endfor %}

{% for item in worker_names %}
host worker{{ loop.index0 }} {
  hardware ethernet {{ worker_chucky_mac_base }}{{ '%02x' % loop.index0 }};
  fixed-address {{ chucky_short_net }}.{{ 30 + loop.index0 }};
  option host-name "worker{{ loop.index0 }}.{{ cluster_name }}.{{ dns_zone }}";
}
{% endfor %}
