apiVersion: v1
basedomain: tale.net
metadata:
  name: ocp4
networking:
  machineNetwork:
  - cidr: 192.168.30.0/24
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: 2
controlPlane:
  name: master
  replicas: 3
  platform:
        baremetal: {}
platform:
  baremetal:
    apiVIP: 192.168.30.100
    ingressVIP: 192.168.30.110
    provisioningDHCPRange: 192.168.14.20,192.168.14.100
    provisioningBridge: provision
    externalBridge: chucky
    provisioningNetworkCIDR: 192.168.14.0/24
    hosts:
{% for item in master_names  %}
      - name: {{ item }}
        role: master
        bmc:
          address: ipmi://192.168.30.1:700{{ loop.index0 }}
          disableCertificateVerification: true
          username: {{ vbmc_user }}
          password: {{ vbmc_password }}
        bootMACAddress: 52:54:00:74:dc:a{{ loop.index0 }}
        hardwareProfile: libvirt
{% endfor %}
{% for item in worker_names %}
      - name: {{ item }}
        role: worker
        bmc:
          address: ipmi://192.168.30.1:700{{ loop.index0 +3 }}
          disableCertificateVerification: true
          username: {{ vbmc_user }}
          password: {{ vbmc_password }}
        bootMACAddress: 52:54:00:74:dc:d{{ loop.index0 }}
        hardwareProfile: libvirt
{% endfor %}
pullSecret: '{{ lookup('file', 'pull-secret')  }}'
sshKey: |
  {{ lookup('file', '../Terraform/'+ssh_certificate)  }}
