apiVersion: v1
basedomain: tale.net
metadata:
  name: ocp4
networking:
  machineNetwork:
  - cidr: {{ chucky_net_addr }}
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: 2
controlPlane:
  name: master
  replicas: 3
  platform:
        baremetal: {}
platform:
  baremetal:
    apiVIP: {{ api_vip }}
    ingressVIP: {{ ingress_vip }}
    provisioningDHCPRange: {{ provisioning_dhcp_start }},{{ provisioning_dhcp_end }}
    provisioningBridge: provision
    externalBridge: chucky
    provisioningNetworkCIDR: {{ provision_net_addr }}
    hosts:
{% for item in master_names  %}
      - name: {{ item }}
        role: master
        bmc:
          address: ipmi://{{ chucky_gateway }}:700{{ loop.index0 }}
          disableCertificateVerification: true
          username: {{ vbmc_user }}
          password: {{ vbmc_password }}
        bootMACAddress: 52:54:00:74:dc:a{{ loop.index0 }}
        hardwareProfile: libvirt
{% endfor %}
{% for item in worker_names %}
      - name: {{ item }}
        role: worker
        bmc:
          address: ipmi://{{ chucky_gateway }}:700{{ loop.index0 +3 }}
          disableCertificateVerification: true
          username: {{ vbmc_user }}
          password: {{ vbmc_password }}
        bootMACAddress: 52:54:00:74:dc:d{{ loop.index0 }}
        hardwareProfile: libvirt
{% endfor %}
pullSecret: '{{ lookup('file', 'pull-secret')  }}'
sshKey: |
  {{ lookup('file', '../Terraform/'+ssh_certificate)  }}
