version: 1
config:
- type: physical
  name: eth0
- type: bridge
%{~ if architecture == "vbmc"}
  name: provision
%{~ else }
  name: chucky
%{ endif }
  bridge_interfaces:
    - eth0
  subnets:
%{~ if architecture == "vbmc"}
    - type: static
      address: ${ironiq_addr}
%{~ else }
    - type: static
      address: ${provision_host_ip}
      gateway: ${gateway}
      dns_nameservers:
        - ${nameserver}
%{ endif }
%{~ if architecture == "vbmc"}
- type: physical
  name: eth1
- type: bridge
  name: chucky
  bridge_interfaces:
    - eth1
  subnets:
    - type: static
      address: ${provision_host_ip}
      gateway: ${gateway}
      dns_nameservers:
        - ${nameserver}
%{~ endif ~}
